
@{
    ViewBag.Title = "数据管理";
    Layout = "~/Views/Shared/_LayoutM.cshtml";
}
@section head{
    <!--simplePagination-->
    <script src="~/Scripts/SimplePagination/jquery.simplePagination.js"></script>
    <!--Page-->
    <script src="~/Scripts/Views/DataManage.js"></script>
}
<h3>用户管理</h3>
<div class="row">
    <div class="col-md-12 text-right">
        <input id="TxtCondition" type="text" />
        <button onclick="Search()">查找</button>
    </div>
</div>
<div class="row">
    <div id="UserData" class="col-md-12">

    </div>
</div>
<input id="ValUserPageSize" type="hidden" value="10" />

