@{
    ViewBag.Title = "涨姿势 - 象空";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@section head{
    <!--simplePagination-->
    <script src="~/Scripts/SimplePagination/jquery.simplePagination.js"></script>
    <!--Page-->
    <script src="~/Scripts/Views/BlogList.js"></script>
}
<div class="row" style="padding: 15px 0px">
    <div class="col-md-12" style="height: 100px; margin-bottom: 10px">
    </div>
</div>
<div class="row" style="padding-bottom: 15px">
    <div class="col-md-6">
        <ul class="nav nav-pills" id="NavOrder">
            <li class="active"><a id="BtnNew" href="javascript:;">最新</a></li>
            <li><a id="BtnView" href="javascript:;">热门</a></li>
            <li><a id="BtnPro" href="javascript:;">好评</a></li>
        </ul>
    </div>
    <div class="col-md-6 text-right" style="height: 40px; line-height: 40px">
        @if (ViewBag.Login)
        {
            <a class="btn btn-primary" href="@Url.Action("BlogNew", "Home")"><span class="glyphicon glyphicon-pencil"></span> 新姿势</a>
        }
    </div>
</div>
<div class="row" id="RowDays" style="display: none; padding-bottom: 15px">
    <div class="col-md-12">
        <select id="SltDays">
            <option selected="selected" value="3">最近三天</option>
            <option value="7">最近七天</option>
            <option value="30">最近一月</option>
        </select>
    </div>
</div>
<input id="ValPageSize" type="hidden" value="15" />
<input id="ValOrder" type="hidden" value="new" />
<div class="row">
    <div id="JTable" class="col-md-12">
    </div>
</div>


