
@{
    ViewBag.Title = "涨姿势 - 象空";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@section head{
    <script src="~/Scripts/SimplePagination/jquery.simplePagination.js"></script>
    <script>
        $(function () {
            JqueryPage(1);
        });
        //Ajax Jquery page
        function JqueryPage(index) {
            var pageSize = 15;
            var postData = { pageSize: pageSize, pageNum: index }
            $.ajax({
                url: "@Url.Action("BlogPage", "Home")",
                type: "Post",
                data: postData,
                success: function (result) {
                    $("#JTable").html(result);
                    $("#JPager").pagination({
                        items: $("#TotalCount").val(),
                        itemsOnPage: pageSize,
                        currentPage: $("#CurrentPage").val(),
                        prevText: "<",
                        nextText: ">",
                        listStyle: "pagination",
                        hrefTextPrefix: "javascript:;",
                        onPageClick: function (pageNumber, event) {
                            JqueryPage(pageNumber);
                        }
                    });
                }
            });
        }

    </script>
}
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-primary" href="@Url.Action("NewBlog", "Home")">新姿势</a>
    </div>
</div>
<div class="row">
    <div id="JTable" class="col-md-12">
    </div>
    <div id="JPager" class="col-md-12 text-center">
    </div>
</div>


