
@{
    ViewBag.Title = "不对劲啊 - 象空";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="row" style="padding: 50px 0px">
    <div class="col-md-12 text-center">
        <img src="~/Images/Error/Error.jpg" />
    </div>
</div>
<div class="row" style="padding: 30px 0px; font-family: 'Microsoft YaHei'; font-size: 48px">
    <div class="col-md-12 text-center">
        404
    </div>
</div>

