
@{
    ViewBag.Title = "意见反馈 - 象空";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@section head{
    <!--simplePagination-->
    <script src="~/Scripts/SimplePagination/jquery.simplePagination.js"></script>
    <!--Page-->
    <script src="~/Scripts/Views/Feedback.js"></script>
}
<div class="row" style="padding-top: 15px">
    <div class="col-md-8 col-md-offset-2">
        <div class="well well-sm">
            意见反馈
        </div>
    </div>
</div>
<input id="FeedbackPageSize" type="hidden" value="20" />
<div class="row">
    <div id="FeedbackPage" class="col-md-8 col-md-offset-2">
    </div>
</div>
@if (ViewBag.Login)
{
    <div class="row" style="padding-top: 15px">
        <div class="col-md-7 col-md-offset-2">
            <input id="TxtContent" class="form-control" id="TxtContent" type="text" />
        </div>
        <div class="col-md-1 text-right">
            <button id="BtnConfirm" class="btn btn-success">反馈</button>
        </div>
    </div>
}
