
@{
    ViewBag.Title = "新姿势 - 象空";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@section head{
    <!--fileupload-->
    <script src="~/Scripts/FileUpload/vendor/jquery.ui.widget.js"></script>
    <script src="~/Scripts/FileUpload/jquery.iframe-transport.js"></script>
    <script src="~/Scripts/FileUpload/jquery.fileupload.js"></script>
    <!--highlight.js-->
    <link href="~/Scripts/HighlightJs/default.min.css" rel="stylesheet" />
    <script src="~/Scripts/HighlightJs/highlight.min.js"></script>
    <!--marked-->
    <script src="~/Scripts/Marked/marked.js"></script>
    <script>
        //更新MDV
        function UpateMDV() {
            $("#MDValue").html("");
            $("#MDValue").html(marked($("#TxtMD").val()));
        }

        //textare当前位置插入
        function InsertAtCaret(id, val) {
            var $txt = jQuery("#" + id);
            var caretPos = $txt[0].selectionStart;
            var textAreaTxt = $txt.val();
            $txt.val(textAreaTxt.substring(0, caretPos) + val + textAreaTxt.substring(caretPos));
        }

        $(function () {
            //【Markdown】
            //代码高亮插件
            marked.setOptions({
                highlight: function (code) {
                    return hljs.highlightAuto(code).value;
                }
            });
            //实时更新
            $("#TxtTitle").bind("input propertychange", function () {
                $("#MDTitle").html($("#TxtTitle").val());
            });
            $("#TxtMD").bind("input propertychange", function () {
                UpateMDV();
            });

            //阻止全局拖拽，使自定义区域拖拽上传生效
            $(document).bind("drop dragover", function (e) {
                e.preventDefault();
            });
            //拖拽上传
            var allowExt = [".jpg", ".png", ".bmp", ".gif"];
            $("#JqueryUpload").fileupload({
                dropZone: $("#TxtMD"),
                add: function (e, data) {
                    var ext = data.files[0].name.substr(data.files[0].name.lastIndexOf("."));
                    if (data.files[0].size > 1024 * 1024 * 3) {
                        swal("文件最大为3M");
                    } else if (allowExt.indexOf(ext) < 0) {
                        swal("格式不允许");
                    } else {
                        data.submit();
                    }
                },
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $("#UpPercent").html("已上传" + progress + "%");
                },
                dataType: "json",
                done: function (e, data) {
                    $("#UpPercent").html("");
                    if (data.result.error != "") {
                        alert(data.result.error);
                    } else {
                        var link = "![](http://" + window.location.host + "@Url.Action("DownloadImg", "File", new { pt = 2 })" + "&path=" + data.result.path + ")";
                        InsertAtCaret("TxtMD", link);
                        UpateMDV();
                        SetViewer("MDValue");
                    }
                },
                fail: function (e, data) {
                    $("#UpPercent").html("");
                    swal("上传失败");
                }
            });

            //发布
            $("#BtnConfirm").click(function () {
                var title = $("#TxtTitle").val();
                if (title.length == 0) {
                    swal("请填写标题");
                    return;
                }
                if (getBt(title) > 90) {
                    swal("标题最多90字节，当前" + getBt(title) + "字节");
                    return;
                }
                var mdTxt = $("#TxtMD").val();
                if (mdTxt.length == 0) {
                    swal("内容不能为空");
                    return;
                }
                var type = $("#SltType").val();
                $.ajax({
                    url: "@Url.Action("NewBlog", "Home")",
                    data: { type: type, title: title, mdTxt: mdTxt, mdValue: marked(mdTxt) },
                    type: "post",
                    success: function (result) {
                        if (result.msg == "done") {
                            window.location.href = result.url;
                        }
                    }
                });
            });

            //选择类型
            $("#SltType").change(function () {
                var selectText = $("#SltType").find("option:selected").text();
                $("#LblBType").html(selectText);
                var type = $("#SltType").val();
                switch (type) {
                    case "0":
                        $("#LblBType").attr("class", "label label-primary");
                        break;
                    case "1":
                        $("#LblBType").attr("class", "label label-danger");
                        break;
                    case "2":
                        $("#LblBType").attr("class", "label label-info");
                        break;
                    case "3":
                        $("#LblBType").attr("class", "label label-success");
                        break;
                    case "4":
                        $("#LblBType").attr("class", "label label-warning");
                        break;
                }
            });
        });

        function OpenFile() {
            $("#JqueryUpload").click();
        }

    </script>
}
<div class="row" style="padding-top: 15px">
    <div id="MDTitle" class="col-md-10 fs1">
    </div>
    <div class="col-md-2 text-right">
        <span id="LblBType" class="label label-primary" style="font-weight: 400">姿势</span>
    </div>
    <div id="MDValue" class="col-md-12 mdv" style="padding-top: 15px">
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-10">
        <input id="TxtTitle" type="text" class="form-control" placeholder="标题" />
    </div>
    <div class="col-md-2">
        <select id="SltType" class="form-control">
            <option value="0" selected="selected">姿势</option>
            <option value="1">宣传</option>
            <option value="2">心得</option>
            <option value="3">科普</option>
            <option value="4">搬运</option>
        </select>
    </div>
    <div class="col-md-12">
        <span>查看&nbsp;<a href="http://mvc.objnull.com/zh/Demo/MarkDownSyntax" target="_blank">MarkDown语法</a>&nbsp;,&nbsp;</span>
        <input id="JqueryUpload" class="uploader" type="file" name="upFile" data-url="@Url.Action("JqueryUploadImg", "File", new { pt = 2 })" style="display:none">
        <span>拖拽图片至文本框或<a href="javascript:;" onclick="OpenFile()">选择文件</a>上传 &nbsp;&nbsp;&nbsp;</span>
        <span id="UpPercent" style="color:#ff6a00"></span>
        <textarea id="TxtMD" class="form-control" rows="15" style="resize:vertical;"></textarea>
    </div>
    <div class="col-md-12 text-center" style="margin-top: 20px">
        <button id="BtnConfirm" class="btn btn-default">确定</button>
    </div>
</div>